{% extends "base.html" %}
<!-- Contenido -->
{% block content %}
<div class="container">
    <p class="lh-lg"></p>
    <p class="fs-3">Acerca de OnlyFlans....</p>
    <p class="lh-lg"></p>
    <p class="lh-base">En nuestra tienda virtual, los flanes son más que un postre; son pequeñas obras de arte.
        Elaborados con cariño y recetas tradicionales, nuestros flanes caseros te transportarán a la cocina de la
        abuela. Desde el clásico flan de vainilla hasta exquisitas variantes de café o coco, cada bocado es una
        experiencia única. ¡Descubre la dulzura auténtica en cada porción!</p>
    <p class="lh-base">Si necesitas más detalles o quieres probar nuestros sabores, visita nuestra página. ¡Estamos
        seguros de que te enamorarás de nuestros flanes artesanales! </p>
</div>
{% endblock%}