{% block content %}
<section name="footer">
  <footer class="text-body-secondary text-center">
    <div class="container p-5">
      <!-- Facebook -->
      <a href="#!"><i class="fab fa-facebook-f fa-2x m-2" style="color: #3b5998;"></i></a>

      <!-- Twitter -->
      <a href="#!"><i class="fab fa-twitter fa-2x m-2" style="color: #55acee;" href="#!"></i></a>

      <!-- Instagram -->
      <a href="#!"><i class="fab fa-instagram fa-2x m-2" style="color: #ac2bac;" href="#!"></i></a>

      <!-- Whatsapp -->
      <a href="#!"><i class="fab fa-whatsapp fa-2x m-2" style="color: #25d366;" href="#!"></i></a>
    </div>
    <div class="text-center bg-danger-subtle p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      <p class="fs-6">© 2024 Copyright: <a href="#">OnlyFlans.com</a></p>
    </div>
  </footer>
</section>
{% endblock %}